{% if product %}
    <script>
        // Преобразуем объект товара в JSON
        const productData = {{ product | json }};
        console.log("PRODUCT DATA:", productData);
    </script>
{% endif %}

<section class="product section">
    <div class="container">
        <div class="product__inner">
            <div class="product__gallery">
                <div class="product__gallery-thumbs">
                    <swiper-container class="product__gallery-thumbs-slider" init="false">
                        {% for image in product.images %}
                            <swiper-slide>
                                <img src="{{ image.src | img_url: '400x' }}" alt="{{ product.title }}">
                            </swiper-slide>
                        {% endfor %}
                    </swiper-container>
                </div>

                <div class="product__gallery-main">
                    <swiper-container class="product__gallery-main-slider"
                                      thumbs-swiper=".product__gallery-thumbs-slider" init="false">
                        {% for image in product.images %}
                            <swiper-slide>
                                <img src="{{ image.src | img_url: '800x' }}" alt="{{ product.title }}">
                            </swiper-slide>
                        {% endfor %}
                    </swiper-container>
                </div>
            </div>

            <div class="product__info">
                <div class="product__top">
                    <h3 class="product__title title title_h2">
                        {{ product.title }}
                    </h3>

                    <div class="product__price">
                        {% if product.price_varies %}
                            {{ product.price_min | money }} – {{ product.price_max | money }}
                        {% else %}
                            {{ product.price | money }}
                        {% endif %}
                    </div>

                    <div class="product__available">
                        {% if product.available %}
                            В наявності
                        {% else %}
                            Немає в наявності
                        {% endif %}
                    </div>
                </div>

                <div class="product__variants">
                    <div class="product__variants-items">
                        {% assign colors = product.options_by_name['Color'].values %}
                        {% for color in colors %}
                            <button class="product__variants-item">
                                {{ color }}
                            </button>
                        {% endfor %}
                    </div>
                </div>

                <div class="product__options">
                    <div class="product__options-text">Select Size:</div>
                    <div class="product__options-items">
                        {% assign sizes = product.options_by_name['Size'].values %}
                        {% for size in sizes %}
                            <button class="product__options-item">
                                {{ size }}
                            </button>
                        {% endfor %}
                    </div>
                </div>

                <button class="product__btn btn btn_black">
                    <span>Додати в кошик</span>
                </button>

                <div class="product__descr">
                    {{ product.description }}
                </div>
            </div>
        </div>
    </div>

        <script>

            const thumbsSlider = document.querySelector('.product__gallery-thumbs-slider'),
                mainSlider = document.querySelector('.product__gallery-main-slider');

            const thumbsParams = {
                direction: 'vertical',
                slidesPerView: 5,
                spaceBetween: 10,
                freeMode: true,
                watchSlidesProgress: true,
                allowTouchMove: true,
                watchOverflow: true,
                breakpoints: {
                    0: {
                        direction: 'horizontal',
                        slidesPerView: 'auto',
                        spaceBetween: 10,
                    },
                    769: {
                        direction: 'vertical',
                        slidesPerView: 5,
                        spaceBetween: 10,
                    }
                },
                injectStyles: [
                    `  .swiper-wrapper {
               justify-content: space-between;
            }
         `
                ],
            };

            const mainParams = {
                spaceBetween: 10,
                slidesPerView: 1,
            };

            Object.assign(thumbsSlider, thumbsParams);
            Object.assign(mainSlider, mainParams);

            thumbsSlider.initialize();
            mainSlider.initialize();
        </script>
</section>